<div>
    <a href="" ng-click="$ctrl.openRegionsModal()" type="button" class="region-btn btn waves-effect waves-light modal-trigger">
        <span ng-if="$ctrl.choose.isRegionLoading"><ait-loading style="color:white"></ait-loading></span>
        <span ng-bind="$ctrl.choose.region.name || '?'"></span>
    </a>
    <ait-dialog is-opened="$ctrl.is_open_regions">
        <ait-dialog-body>
            <h4 style="color: #009688;">Выберите регион</h4>
            <ait-region-list on-selected="$ctrl.onRegionSelected(item)"></ait-region-list>
        </ait-dialog-body>
        <ait-dialog-footer>
            <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">Закрыть</a>
        </ait-dialog-footer>
    </ait-dialog>
</div>