@section Headers {To:  @ViewBag.To
    From: @ViewBag.From
    Subject: Reset Password
}

<html>
<head>
</head>
<body>
    <h2>Html</h2>
    <p>The date is: @ViewBag.PersonName</p>
    <p>Тут HTML</p>
</body>
</html>