
<div class="row">
    <div class="col s12">
        <div class="section">
            <span ng-if="$ctrl.state.model.isLoading"><ait-loading></ait-loading></span>
            <div class="row reg-container" ng-if="$ctrl.state.list">
                <div ng-repeat="item in ::$ctrl.state.list">
                    <div ng-if="item.group" class="group-reg">{{item.group}}</div>
                    <a href="" ng-click="$ctrl.onSelected({item:item})">{{::item.name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

