<div class="input-field ait-field-date" ng-if="::$ctrl.type">
    <input id="{{::$ctrl.name}}" type="text" name="{{::$ctrl.name}}"
           ng-model="$ctrl.bindModel"
           ng-class="{invalid: !$ctrl.form[$ctrl.name].$valid, valid: $ctrl.form[$ctrl.name].$valid}"
           ait-mask="date"
           ng-init="$ctrl.init()"
           autocomplete="{{::($ctrlautocomplete||'off')}}"
           ait-valid="{{$ctrl.valid}}"
           ng-required="$ctrl.required" />

    <ait-field-error ng-show="!$ctrl.form[$ctrl.name].$valid">
        <span ng-if="$ctrl.form[$ctrl.name].$error.required">Поле обязательно для заполнения</span>
        <span ng-if="!$ctrl.form[$ctrl.name].$error.required">значение некорректно</span>
    </ait-field-error>
    <label for="{{::$ctrl.name}}" class="caption" ng-bind="::$ctrl.caption"></label>
</div>
