ait-region-list .reg-container {
    -webkit-column-width: 184px;
    -moz-column-width: 184px;
    column-width: 184px;
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
}


    ait-region-list .reg-container a {
        display: block;
        padding: 5px 2px;
    }

ait-region-list .group-reg {
    padding: 10px 2px 0;
    font-weight: bold;
}
