doctor .card {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}


doctor .avatar > i {
    font-size: 800%;
}

doctor .avatar {
    text-align: center;
    color: #d3d3d3;
}

doctor .dp {
    overflow: hidden;
    width: 100%;
}


doctor .name {
    font-size: 2.3em;
    color: #000;
    text-decoration: none;
}

doctor .doctor-spec {
    margin-top: -0.05em;
}

.doctor-spec-item:not(:last-child):after {
    content: ', ';
}


doctor .additional-info {
    text-align: center;
    margin-top: 1em;
    font-size: 87%;
}


doctor .nav-pills > li.active > a, doctor .nav-pills > li.active > a:hover, doctor .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #FF5722;
}


doctor hr {
    margin-bottom: 0;
    margin-top: 10px;
}

doctor .visit-guide {
    min-height: 550px;
}


    doctor .visit-guide .header {
        text-align: center;
    }



doctor .tabs .tab a {
    display: flex !important;
    align-items: center !important;
    line-height: 1em !important;
    align-items: center !important;
    justify-content: center !important;
}

doctor a num {
    font-size: 225%;
    padding: 0 0.15em;
}

doctor a act-subj {
    display: flex;
    flex-flow: column;
    text-align: left;
}

doctor a act {
    font-size: 70%;
    text-transform: lowercase;
}

doctor a subj {
    line-height: 1.1em;
}


/*.frame {
    position: relative;
}

    .frame .box {
    }

.show-hide {
    -webkit-transition: 2s linear all;
    transition: 2s linear all;
    transition-delay: 2s;
}

    .show-hide.ng-enter {
        opacity: 0;
        color: red;
    }

    .show-hide.ng-enter-active {
        opacity: 1;
        color: green;
    }

    .show-hide.ng-leave {
        opacity: 1;
    }

    .show-hide.ng-leave-active {
        opacity: 0;
        color: aqua;
    }*/
