ait-loading {
    text-align: center;
    /* display: block; */
    color: #009688;
    /*display: inline-block;*/
}

    ait-loading > span {
        display: flex;
        align-items: center;
    }

ait-dialog .modal-header {
    padding: 1em 1em 0;
}

ait-field {
    display: block;
    position: relative;
}


ait-field-error {
    font-size: 0.8rem;
    color: #F44336;
    position: absolute;
}


.input-field ait-field-error {
    margin-top: -0.8rem;
    right: 1em;
}

ait-field .input-field ait-field-error {
    right: 0;
}

.input-field ait-field-error > span:not(:last-child):after {
    content: ', ';
}

.ait-field-radio .ait-field-items {
    margin-top: -12px;
    /*border-bottom: 1px solid #F44336;
	box-shadow: 0 1px 0 0 #F44336;*/
}

.ait-field-radio {
    position: relative;
}

    .ait-field-radio ait-field-error {
        margin-top: 3px;
        /*right: 0;*/
    }


.ait-field-region ait-field-error {
    right: initial;
    margin: 0;
}

.ait-field-region {
    margin-bottom: 1em;
}


ait-error-panel > div {
    color: white;
    margin-top: 0;
    padding: 20px;
    display: block;
    opacity: 0;
    transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -webkit-transition: opacity 0.4s ease-in;
}


    ait-error-panel > div.active {
        opacity: 1;
        transition: opacity 1s ease-out;
        -ms-transition: opacity 1s ease-out;
        -moz-transition: opacity 1s ease-out;
        -webkit-transition: opacity 1s ease-out;
    }


.ait-fade {
    opacity: 0;
    display: block;
}


    .ait-fade.off {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -webkit-transition: opacity 0.5s ease-in-out;
    }


    .ait-fade.on {
        opacity: 0;
        transition: opacity 2.25s ease-in-out;
        -moz-transition: opacity 2.25s ease-in-out;
        -webkit-transition: opacity 2.25s ease-in-out;
    }
